body{
	margin:0;
	padding:0;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}

.container{
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.navMenu{
	display: flex;
	justify-content: space-between;
	padding-top: 2%;

}

.menu{
	margin-right: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.3vw;
	font-weight: 600;
	transition: 0.5s;
}

.menu:hover{
	color:#c23616;
	transition: 0.5s;
}

.header{
	background: url(../img/bgHeader.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	/*height: 50vh;*/
	opacity: .9;
}

.mainText{
	display: flex;
	justify-content: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 3vw;
	font-weight: 600;
	margin-top: 10%;
	padding-bottom: 12%;
}

.aboutUs{
	/*background: url(../img/aboutUs.jpg) center no-repeat;*/
	/*-webkit-background-size: cover;*/
	/*background-size: cover;*/
	/*height: 80vh;*/
	/*opacity: .4;*/
	padding-bottom: 3%;
	background-color: #dfe6e9;
}

.aboutInner{
	color: #2f3542;
	font-size: 2.8vw;
	text-align: center;
	font-weight: 600;
	padding-top: 2%;
	text-transform: uppercase;
}

.aboutCompany{
	padding-top: 3%;
	display: flex;
	justify-content: space-between;
}

.aboutCompanyInner{
	width: 30%;
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
	flex-direction: column;
	background-color: #b2bec3;
	border-radius: 8px;
}

.aboutCompanyInner h1{
	padding-top: 1%;
	color: #2f3542;
	text-align: center;
	font-size: 2.0vw;
}

.aboutCompanyInner p{
	color: black;
	text-align: center;
	font-size: 1.2vw;
}

.button{
	background-color: #f1f2f6;
	width: 50%;
	margin: 0 auto;
	color: #2f3542;
	text-align: center;
	font-size: 1.5vw;
	border: 2px solid #f1c40f;
	cursor: pointer;
	margin-bottom: 3%;
	transition: 0.5s;
	font-weight: 500;
	border-radius: 20px;
}

.button:hover{
	background-color: #7f8c8d;
	border-color: #e74c3c;
	color: #fff;
	transition: 0.5s;
}

.ourTournament{
	background: url(../img/tournament.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .9;
	padding-bottom: 3%;
}

.ourTournamentTitle{
	text-align: center;
	color: #2d3436;
	font-size: 2.8vw;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 2%;
}

.fullTournament{
	display: flex;
	flex-direction: column;
	margin-top: 3%;
}

.singleTournament,
.titleTournament{
	width: 95%;
	border: 1px solid black;
	height: 10px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 0 auto;
	margin-bottom: 1.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	background-color: #2d3436;
	opacity: .8;
	color: #fff;
	font-size: 1.2vw;
	transition: 0.8s;
	border-radius: 8px;
}

.singleTournament:hover{
	background-color: #dfe6e9;
	color: #2d3436;
	transition: 0.8s;
	cursor: pointer;
	text-decoration: none;
}

.singleTournament p,
.titleTournament p{
	width: 25%;
	text-align: center;
}

.titleTournament{
	font-weight: 500;
	font-size: 1.4vw;
}

.regButton{
	width: 20%;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 25px;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	margin-top: 2%;
	color: #fff;
	font-weight: 500;
	font-size: 1.4vw;
	/*background: url(../img/regBut.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;*/
	opacity: .9;
	background-color: #2d3436;
	cursor: pointer;
}

.Faqs{
	background: url(../img/FAQs.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .7;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	padding-bottom: 3%;
}

.titleFAQs{
	text-align: center;
	color: #fff;
	font-size: 2.8vw;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 2%;
}

.faqsFullInner{
	display: flex;
	flex-direction: column;
	margin-top: 3%;
}

.faqsInner{
	width: 65%;
	background-color: #636e72;
	color: #fff;
	font-size: 1.2vw;
	line-height: 1.8vw;
	border-radius: 20px;
	text-align: center;
	font-weight: 500;
}

.faqsInner:nth-child(odd){
	margin: 0 0 0 auto;
	margin-bottom: 3%;
}

.faqsInner:nth-child(even){
	margin: auto 0 0 0 ;
	margin-bottom: 3%;
}

.buttonQuest{
	width: 23%;
	border: 1px solid #fff;
	color: #fff;
	margin: 0 0 0 auto;
	text-align: center;
	border-radius: 10px;
	font-size: 1.4vw;
	font-weight: 500;
	cursor: pointer;
	transition: 0.7s;
}

.buttonQuest:hover{
	background-color: #487eb0;
	transition: 0.7s;
}

.footer{
	background-color: #353b48;
	padding-top: 1%;
	padding-bottom: 1%;
}

.label{
	text-align: center;
	color: #fff;
	font-weight: 600;
	opacity: .5;
	/*text-transform: uppercase;*/
}